<!DOCTYPE html>
<html class="ui-mobile" lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- base href="http://localhost/pz/wx/index.php/consumers/cart/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ" -->
	<meta charset="UTF-8">
  <title>购物车</title>
	<meta http-equiv="pragma" content="no-cache"> 
	<meta http-equiv="Cache-Control" content="no-store, must-revalidate"> 
	<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"> 
	<meta http-equiv="expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="cart_files/jquery.css">
	<link rel="stylesheet" href="cart_files/footer.css">
	<script src="cart_files/jquery-1.js"></script>
	<script src="cart_files/jquery.js"></script>
	<script type="text/javascript">
		var imgUrl = ""; //注意必须是绝对路径
      //var lineLink = "http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ";
    	var lineLink = window.location.href;//同样，必须是绝对路径
        var descContent = ''; //分享给朋友或朋友圈时的文字简介
var shareTitle = new Array();
shareTitle[0] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[1] = '借你几个豹子胆，让你在这里狂欢，唯有你，才能让这里“动”起来。';
shareTitle[2] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[3] = '在这里“拼”的是耐力，当你在这里不带走任何东西，那是我的错。';
shareTitle[4] = '当我在向你招手，招呼你“戳”进来，而你却视而不见，你怎么能这么狠心？';
        var appid = ''; //apiID，可留空
        var range = Math.floor(Math.random()*(4));
        //alert(range);
	    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
	    function shareFriend() {
           WeixinJSBridge.invoke('sendAppMessage',{
               "appid": appid,
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": ''
           }, function(res) {
               //_report('send_msg', res.err_msg);
           })
        }
        function shareTimeline() {
           WeixinJSBridge.invoke('shareTimeline',{
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": shareTitle[range]
           }, function(res) {
                  //_report('timeline', res.err_msg);
           });
        }
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
           // 发送给好友
           WeixinJSBridge.on('menu:share:appmessage', function(argv){
               shareFriend();
           });
           // 分享到朋友圈
           WeixinJSBridge.on('menu:share:timeline', function(argv){
               shareTimeline();
           });
       }, false);
	</script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">

	<link rel="stylesheet" href="cart_files/shopcar.css">
<style type="text/css">
#page1 .footer-list{
	list-style: none;
	/*padding-top: 0;*/
}
#page1 .footer-list a{
	text-decoration: none;
	text-shadow:none;
	box-shadow: none;
}
#page1 .footer{
	background: #ff5616;
}
#page1 .footer-list{
	list-style: none;
	padding-top: 0;
    float: left;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    text-align: center;
    width: 20%;
}
.nav-current{
	background:#333333;
}
</style>

	<section class="ui-page ui-page-theme-a ui-page-active" tabindex="0" data-url="page1" data-role="page" id="page1" style="overflow-y: auto; overflow-x: hidden; min-height: 559px;">
		<header role="banner" data-role="header" class="header ui-header ui-bar-inherit" data-position="inline">
			<a class="ui-btn-left" href="javascript:window.history.go(-1);" data-role="none"><img class="top-img" src="cart_files/icon-msg-left.png" alt="" style="float:left;margin-right:0.5em;"></a>
			<h1 aria-level="1" role="heading" class="ui-title" data-role="none">购物车</h1>
		</header>
		<section role="main" data-role="content" class="content ui-content" style="margin-bottom:9em;">
			<article class="infomation infomation2">
			<!-- 
				<h3 class="info-title">
					<span class="hook"></span>
					<span class="shopname">蒙特MENTAR旗舰店</span>
				</h3> -->
								<section class="goodslist cl">

					<span class="hook" style="text-align: center; font-size: 0.5em; color: rgb(255, 255, 255); top: 7em; background: none repeat scroll 0% 0% rgb(255, 255, 255);" onclick="my_choose(this)" sub-total="104" rowid="bd7375fba88b9c5a3e545e874716c6f1"></span>
					<input data-role="none" value="bd7375fba88b9c5a3e545e874716c6f1" style="display:none;" class="my-choose" id="bd7375fba88b9c5a3e545e874716c6f1" type="checkbox">
					<img class="goods-pic" src="cart_files/lcj_201304231450599832.jpg" alt="">
					<span class="goods-desc">马特达蒙秋季新品男裤_时尚男士修身微弹_直筒牛仔长裤(款号 : 178033)</span>
					<table style="width:60%;">
						<tbody><tr>
							<td class="tdwidth cont cont2" style="width:40%;">颜色 : 蓝色</td>
							<td class="cont cont2">尺码 : 28（2.1尺）</td>
						</tr>
						<tr>
							<td class="cont cont2" style="width:40%;">数量 : 1</td>
							<td class="cont cont2">单价 : ¥104</td>
						</tr>
						<tr>
							<td class="cont cont2"></td>
							<td class="cont cont2">
								小计 : ¥<span class="red" id="">104</span>

									<div style="float:right;"> <a class="ui-link" href="javascript:;" onclick="my_delete(this)" jump-url="http://localhost/pz/wx/index.php/consumers/cart/delete_cart/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ/bd7375fba88b9c5a3e545e874716c6f1" style="color:red;" data-ajax="false">删除</a></div>
							</td>
						</tr>
					</tbody></table>
				</section>
								<section class="goodslist cl">

					<span class="hook" style="text-align: center; font-size: 0.5em; color: rgb(255, 255, 255); top: 7em; background: none repeat scroll 0% 0% rgb(255, 255, 255);" onclick="my_choose(this)" sub-total="104" rowid="39e0cc080ddc325a8b055724ce626e43"></span>
					<input data-role="none" value="39e0cc080ddc325a8b055724ce626e43" style="display:none;" class="my-choose" id="39e0cc080ddc325a8b055724ce626e43" type="checkbox">
					<img class="goods-pic" src="cart_files/lcj_201304231450599832.jpg" alt="">
					<span class="goods-desc">马特达蒙秋季新品男裤_时尚男士修身微弹_直筒牛仔长裤(款号 : 178034)</span>
					<table style="width:60%;">
						<tbody><tr>
							<td class="tdwidth cont cont2" style="width:40%;">颜色 : 蓝色</td>
							<td class="cont cont2">尺码 : 29（2.2尺）</td>
						</tr>
						<tr>
							<td class="cont cont2" style="width:40%;">数量 : 1</td>
							<td class="cont cont2">单价 : ¥104</td>
						</tr>
						<tr>
							<td class="cont cont2"></td>
							<td class="cont cont2">
								小计 : ¥<span class="red" id="">104</span>

									<div style="float:right;"> <a class="ui-link" href="javascript:;" onclick="my_delete(this)" jump-url="http://localhost/pz/wx/index.php/consumers/cart/delete_cart/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ/39e0cc080ddc325a8b055724ce626e43" style="color:red;" data-ajax="false">删除</a></div>
							</td>
						</tr>
					</tbody></table>
				</section>
								<section class="goodslist cl">

					<span class="hook" style="text-align: center; font-size: 0.5em; color: rgb(255, 255, 255); top: 7em; background: none repeat scroll 0% 0% rgb(255, 255, 255);" onclick="my_choose(this)" sub-total="104" rowid="fa4a5462ab938f94a1ac958707e4bda9"></span>
					<input data-role="none" value="fa4a5462ab938f94a1ac958707e4bda9" style="display:none;" class="my-choose" id="fa4a5462ab938f94a1ac958707e4bda9" type="checkbox">
					<img class="goods-pic" src="cart_files/lcj_201304231450599832.jpg" alt="">
					<span class="goods-desc">马特达蒙秋季新品男裤_时尚男士修身微弹_直筒牛仔长裤(款号 : 178038)</span>
					<table style="width:60%;">
						<tbody><tr>
							<td class="tdwidth cont cont2" style="width:40%;">颜色 : 蓝色</td>
							<td class="cont cont2">尺码 : 33（2尺2.6）</td>
						</tr>
						<tr>
							<td class="cont cont2" style="width:40%;">数量 : 1</td>
							<td class="cont cont2">单价 : ¥104</td>
						</tr>
						<tr>
							<td class="cont cont2"></td>
							<td class="cont cont2">
								小计 : ¥<span class="red" id="">104</span>

									<div style="float:right;"> <a class="ui-link" href="javascript:;" onclick="my_delete(this)" jump-url="http://localhost/pz/wx/index.php/consumers/cart/delete_cart/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ/fa4a5462ab938f94a1ac958707e4bda9" style="color:red;" data-ajax="false">删除</a></div>
							</td>
						</tr>
					</tbody></table>
				</section>
								<section class="goodslist cl">

					<span class="hook" style="text-align: center; font-size: 0.5em; color: rgb(255, 255, 255); top: 7em; background: none repeat scroll 0% 0% rgb(255, 255, 255);" onclick="my_choose(this)" sub-total="104" rowid="0d245cd948f696e5acf6de76ac7153a1"></span>
					<input data-role="none" value="0d245cd948f696e5acf6de76ac7153a1" style="display:none;" class="my-choose" id="0d245cd948f696e5acf6de76ac7153a1" type="checkbox">
					<img class="goods-pic" src="cart_files/lcj_201304231450599832.jpg" alt="">
					<span class="goods-desc">马特达蒙秋季新品男裤_时尚男士修身微弹_直筒牛仔长裤(款号 : 178040)</span>
					<table style="width:60%;">
						<tbody><tr>
							<td class="tdwidth cont cont2" style="width:40%;">颜色 : 蓝色</td>
							<td class="cont cont2">尺码 : 35（2尺7）</td>
						</tr>
						<tr>
							<td class="cont cont2" style="width:40%;">数量 : 1</td>
							<td class="cont cont2">单价 : ¥104</td>
						</tr>
						<tr>
							<td class="cont cont2"></td>
							<td class="cont cont2">
								小计 : ¥<span class="red" id="">104</span>

									<div style="float:right;"> <a class="ui-link" href="javascript:;" onclick="my_delete(this)" jump-url="http://localhost/pz/wx/index.php/consumers/cart/delete_cart/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ/0d245cd948f696e5acf6de76ac7153a1" style="color:red;" data-ajax="false">删除</a></div>
							</td>
						</tr>
					</tbody></table>
				</section>
								<section class="goodslist cl">

					<span class="hook" style="text-align: center; font-size: 0.5em; color: rgb(255, 255, 255); top: 7em; background: none repeat scroll 0% 0% rgb(255, 255, 255);" onclick="my_choose(this)" sub-total="104" rowid="051644485e0c39a81950dfb338511e5b"></span>
					<input data-role="none" value="051644485e0c39a81950dfb338511e5b" style="display:none;" class="my-choose" id="051644485e0c39a81950dfb338511e5b" type="checkbox">
					<img class="goods-pic" src="cart_files/lcj_201304231450599832.jpg" alt="">
					<span class="goods-desc">马特达蒙秋季新品男裤_时尚男士修身微弹_直筒牛仔长裤(款号 : 178042)</span>
					<table style="width:60%;">
						<tbody><tr>
							<td class="tdwidth cont cont2" style="width:40%;">颜色 : 蓝色</td>
							<td class="cont cont2">尺码 : 38（2尺9）</td>
						</tr>
						<tr>
							<td class="cont cont2" style="width:40%;">数量 : 1</td>
							<td class="cont cont2">单价 : ¥104</td>
						</tr>
						<tr>
							<td class="cont cont2"></td>
							<td class="cont cont2">
								小计 : ¥<span class="red" id="">104</span>

									<div style="float:right;"> <a class="ui-link" href="javascript:;" onclick="my_delete(this)" jump-url="http://localhost/pz/wx/index.php/consumers/cart/delete_cart/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ/051644485e0c39a81950dfb338511e5b" style="color:red;" data-ajax="false">删除</a></div>
							</td>
						</tr>
					</tbody></table>
				</section>
							</article>
		</section>
		<footer role="contentinfo" data-role="footer" class="footer ui-footer ui-bar-inherit" style="position:fixed;bottom:0;">
			<section class="comfirm-bg"></section>
			<section class="comfirm cl" style="background:#ccc;bottom:3.4em;">
				<!-- <span class="hook hook2"></span> -->
				<span class="hook" style="text-align:center;font-size:0.5em;color:#fff;top:3.1em;float:left;" onclick="my_choose_all(this)" total="520"></span>
				<p class="cont money">总金额 : <span class="red">￥</span><span class="red" id="my-total-money">0</span></p>
				<button data-ajax="false" url="http://localhost/pz/wx/index.php/consumers/order/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ" class="submit" data-role="none" onclick="my_jump(this)">结算</button>
			</section>
			<nav style="background:#464951;">
				<ul style="padding-left:0;margin:0;">
					<li class="footer-list ">
						<a class="ui-link" data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
							<img src="cart_files/index.png" alt="" style="margin-bottom:0.5em;"><br>
							首页
						</a>
					</li>
					<li class="footer-list ">
						<a class="ui-link" data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/consumers/category/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
							<img src="cart_files/category.png" alt="" style="margin-bottom:0.5em;"><br>
							分类
						</a>
					</li>
					<li class="footer-list ">
						<a class="ui-link" data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
							<img src="cart_files/collect.png" alt="" style="margin-bottom:0.5em;"><br>
							收藏
						</a>
					</li>
					<li class="footer-list nav-current">
						<a class="ui-link" data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/cart/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
							<img src="cart_files/carc.png" alt="" style="margin-bottom:0.5em;"><br>
							购物车
						</a>
					</li>
					<li class="footer-list ">
						<a class="ui-link" data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/buyer/member/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
							<img src="cart_files/man.png" alt="" style="margin-bottom:0.5em;"><br>
							我的
						</a>
					</li>
				</ul>
			</nav>
		</footer>
	</section>

<script type="text/javascript">
//用户出发浏览器返回按钮是恢复原来的选择状态
$(document).ready(function(){
	var rowids = $('.my-choose');
	var length = rowids.length;
	var total = 0.00;
	for(var i = 0;i<length;i++){
		//console.log($(rowids[i]).prop('checked'));
		if($(rowids[i]).prop('checked') == true){		
			$(rowids[i]).prev().html('√');
			$(rowids[i]).prev().css('background','#fc4300');
			total += parseFloat($(rowids[i]).prev().attr('sub-total'));
		}else if($(rowids[i]).prop('checked') == false){
			$(rowids[i]).prev().html('');
			$(rowids[i]).prev().css('background','#ffffff');
		}
	}
	$('#my-total-money').html(total);
});
function my_delete(obj){
	if(confirm('确认删除？')){
		window.location.href = $(obj).attr('jump-url');
	}else{
		return false;
	}
}
function my_choose(obj){
	var html = $(obj).html();
	var total = $('#my-total-money').html();
	html == '√'?$(obj).html(''):$(obj).html('√');
	if(html==''){
		$(obj).css('background','#fc4300');
		var new_total = parseFloat(total)+parseFloat($(obj).attr('sub-total'));
	}else{
		$(obj).css('background','#ffffff');
		var new_total = accSub(parseFloat(total),parseFloat($(obj).attr('sub-total')));
	}
	$('#my-total-money').html(new_total);
	$('#'+$(obj).attr('rowid')).prop('checked',function(){
		return !this.checked;
	});
}
function my_choose_all(obj){
	var html = $(obj).html();
	var total = $(obj).attr('total');
	html == '√'?$(obj).html(''):$(obj).html('√');
	if(html==''){
		$(obj).css('background','#fc4300');
		//选中所有
		$('.goodslist .hook').css('background','#fc4300');
		$('.goodslist .hook').html('√');
		$('.goodslist .my-choose').prop('checked',true);
		$('#my-total-money').html(total);
	}else{
		$(obj).css('background','#ffffff');
		//取消选中所有
		$('.goodslist .hook').css('background','#ffffff');
		$('.goodslist .hook').html('');
		$('.goodslist .my-choose').prop('checked',false);
		$('#my-total-money').html(0);
	}
}
function my_jump(obj){
	var rowids = $('.my-choose');
	var rowid = new Array();
	var length = rowids.length;
	for(var i = 0;i<length;i++){
		//console.log($(rowids[i]).prop('checked'));
		if($(rowids[i]).prop('checked')==true){
			rowid[i]= {};
			rowid[i] = $(rowids[i]).val();
		}
	}
	var rowid = JSON.stringify(rowid);
	//console.log(rowid);
	window.location.href = $(obj).attr('url')+'/'+rowid;
}
/**
 ** 减法函数，用来得到精确的减法结果
 ** 说明：javascript的减法结果会有误差，在两个浮点数相减的时候会比较明显。这个函数返回较为精确的减法结果。
 ** 调用：accSub(arg1,arg2)
 ** 返回值：arg1加上arg2的精确结果
 **/
function accSub(arg1, arg2) {
    var r1, r2, m, n;
    try {
        r1 = arg1.toString().split(".")[1].length;
    }
    catch (e) {
        r1 = 0;
    }
    try {
        r2 = arg2.toString().split(".")[1].length;
    }
    catch (e) {
        r2 = 0;
    }
    m = Math.pow(10, Math.max(r1, r2)); //last modify by deeka //动态控制精度长度
    n = (r1 >= r2) ? r1 : r2;
    return ((arg1 * m - arg2 * m) / m).toFixed(n);
}

</script>


<div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon-loading"></span><h1>loading</h1></div></body></html>