<!DOCTYPE html>
<html class="ui-mobile" lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- base href="http://localhost/pz/wx/index.php/consumers/buyer/find_password/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ" -->
	<meta charset="UTF-8">
  <title>找回密码</title>
	<meta http-equiv="pragma" content="no-cache"> 
	<meta http-equiv="Cache-Control" content="no-store, must-revalidate"> 
	<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"> 
	<meta http-equiv="expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="findpassword_files/jquery.css">
	<link rel="stylesheet" href="findpassword_files/footer.css">
	<script src="findpassword_files/jquery-1.js"></script>
	<script src="findpassword_files/jquery.js"></script>
	<script type="text/javascript">
		var imgUrl = ""; //注意必须是绝对路径
      //var lineLink = "http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ";
    	var lineLink = window.location.href;//同样，必须是绝对路径
        var descContent = ''; //分享给朋友或朋友圈时的文字简介
var shareTitle = new Array();
shareTitle[0] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[1] = '借你几个豹子胆，让你在这里狂欢，唯有你，才能让这里“动”起来。';
shareTitle[2] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[3] = '在这里“拼”的是耐力，当你在这里不带走任何东西，那是我的错。';
shareTitle[4] = '当我在向你招手，招呼你“戳”进来，而你却视而不见，你怎么能这么狠心？';
        var appid = ''; //apiID，可留空
        var range = Math.floor(Math.random()*(4));
        //alert(range);
	    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
	    function shareFriend() {
           WeixinJSBridge.invoke('sendAppMessage',{
               "appid": appid,
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": ''
           }, function(res) {
               //_report('send_msg', res.err_msg);
           })
        }
        function shareTimeline() {
           WeixinJSBridge.invoke('shareTimeline',{
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": shareTitle[range]
           }, function(res) {
                  //_report('timeline', res.err_msg);
           });
        }
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
           // 发送给好友
           WeixinJSBridge.on('menu:share:appmessage', function(argv){
               shareFriend();
           });
           // 分享到朋友圈
           WeixinJSBridge.on('menu:share:timeline', function(argv){
               shareTimeline();
           });
       }, false);
	</script>
</head>
<body class="ui-mobile-viewport ui-overlay-a">

	<link rel="stylesheet" href="findpassword_files/addaddress.css">
<style type="text/css">
#page1 .contain{
	height:auto;
	min-height:auto;
}
#page1 h1{
	text-align: center;
}
.ui-header .ui-title{
	margin-right: 0;
}
#page1 .header{
	padding-left: 0;
}
#page1 h1{
	display: block;
}
.my-select{
	background: #f9f9f9;
	border:none;
}
.addform .my-get-verification{
	font-size:12px;
	border:1px solid #fb4200;
	padding:0.2em 0.5em;
	background:#fb4200;
	box-shadow:none;
	color:#ffffff;
	border-radius:0.3em 0.3em 0.3em 0.3em;
	font-weight:400;
	text-shadow:none;
	text-decoration:none;
}
</style>
	<section style="min-height: 559px;" class="ui-page ui-page-theme-a ui-page-active" tabindex="0" data-url="page1" data-role="page" id="page1">
<!-- 		<header data-role="header" class="header">
			<h1>登陆</h1>
			<a href="" class="search" data-role="none"><img class="search" src="css/images/common/search-orange.png" alt=""></a>
		</header> -->
		<section role="main" data-role="content" class="content ui-content">
			<fieldset class="ui-controlgroup ui-controlgroup-vertical ui-corner-all" data-role="controlgroup"><div class="ui-controlgroup-controls ">
					<div class="contain">
						<table data-role="none" class="addform">
							<tbody><tr>
								<td>
									<label for="telephone">手机号码:</label>
									<input name="telephone" placeholder="请输入手机号码" id="telephone" data-role="none" type="number">
								</td>
							</tr>
							<tr>
								<td>
									<label for="recommend_telephone">验证码：</label>
									<input name="code" id="recommend_telephone" data-role="none" style="width:30%;" type="text">
									<a data-ajax="false" href="javascript:;" class="my-get-verification ui-link" id="my-get-verification">点击获取</a>
								</td>
							</tr>
							<tr>
								<td>
									<label for="mobile">新密码:</label>
									<input name="password" data-role="none" placeholder="请输入密码" id="password" type="password">
								</td>
							</tr>
							<tr>
								<td>
									<label for="password_2">确认密码:</label>
									<input name="password_2" data-role="none" placeholder="再次输入密码" id="password_2" type="password">
								</td>
							</tr>
						</tbody></table>
					</div>
					<button style="margin-top:1em;" class="comfirm ui-btn ui-shadow ui-corner-all ui-first-child ui-last-child" data-role="none" id="my-register">确认</button>
			</div></fieldset>
		</section>
	</section>

<script type="text/javascript">
$(document).ready(function(){
	$('#my-register').click(function(){
		var telephone = $('#telephone').val();
		var code = $('#recommend_telephone').val();
		var password = $('#password').val();
		var password_2 = $('#password_2').val();
		var url = "http://localhost/pz/wx/index.php/consumers/buyer/find_password/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ";
		if(telephone==''){
			alert('请输入手机号码');
			return false;
		}
		if(code==''){
			alert('请输入验证码');
			return false;
		}
		if(password != password_2){
			alert('两次输入密码不一致');
			return false;
		}
		$.ajax({
			type:'post',
			url:url,
			data:'telephone='+telephone+'&code='+code+'&password='+password+'&password_2='+password_2,
			success:function(msg){
				var msg = eval('('+msg+')');
				alert(msg.msg);
				if(msg.status==1){
					window.location.href = "http://localhost/pz/wx/index.php/consumers/buyer/login/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ";
				}
			}

		});
	});
	click = 0;
	$('#my-get-verification').click(function(){
		var telephone = $('#telephone').val();
		if(telephone==''){
			alert('请输入手机号码');
			return false;
		}
		//console.log(click);
		if(click == 0){
			click = 1;
			$(this).html('60');
			countdown = setInterval('change()',1000);
			var url = "http://localhost/pz/wx/index.php/consumers/buyer/get_verification";
			$.ajax({
				type:'post',
				url:url,
				data:'telephone='+telephone,
				success:function(msg){
					var msg = eval('('+msg+')');
					console.log(msg);
					if(msg.status==1){
						
					}
				}

			});
		}else{
			console.log('nonono');
		}


	});


});
function change(){
	var count = $('#my-get-verification');
	var time = parseInt(count.html());
	//console.log(123);
	
	if(!time){
		count.html('获取验证码');
		click = 0;
		console.log(click);
		clearInterval(countdown);
		return ;
	}
	var html = time-1;
	count.html(html);
	

}

</script>


<div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon-loading"></span><h1>loading</h1></div></body></html>