<!DOCTYPE html>
<html class="ui-mobile"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- base href="http://localhost/pz/wx/index.php/consumers/buyer/mycollect/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ" -->
	<meta charset="utf-8">
	<title>我的收藏</title>
	<meta http-equiv="pragma" content="no-cache">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="upgrade_files/jquery.css">
	<link rel="stylesheet" href="upgrade_files/common.css">
	<script src="upgrade_files/jquery-1.js"></script>
	<script src="upgrade_files/jquery.js"></script>
	<style type="text/css">
	.my-nav .my-current{background:#ff4400;}
	</style>
	<script type="text/javascript">
		var imgUrl = ""; //注意必须是绝对路径
      var lineLink = "http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ";
    	//var lineLink = window.location.href;//同样，必须是绝对路径
        var descContent = ''; //分享给朋友或朋友圈时的文字简介
var shareTitle = new Array();
shareTitle[0] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[1] = '借你几个豹子胆，让你在这里狂欢，唯有你，才能让这里“动”起来。';
shareTitle[2] = '睿智的你，指尖滑过我的瞬间，就没有点进来看看的冲动吗？等你哦！';
shareTitle[3] = '在这里“拼”的是耐力，当你在这里不带走任何东西，那是我的错。';
shareTitle[4] = '当我在向你招手，招呼你“戳”进来，而你却视而不见，你怎么能这么狠心？';
        var appid = ''; //apiID，可留空
        var range = Math.floor(Math.random()*(4));
        //alert(range);
	    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
	    function shareFriend() {
           WeixinJSBridge.invoke('sendAppMessage',{
               "appid": appid,
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": ''
           }, function(res) {
               //_report('send_msg', res.err_msg);
           })
        }
        function shareTimeline() {
           WeixinJSBridge.invoke('shareTimeline',{
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": shareTitle[range],
               "title": shareTitle[range]
           }, function(res) {
                  //_report('timeline', res.err_msg);
           });
        }
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
           // 发送给好友
           WeixinJSBridge.on('menu:share:appmessage', function(argv){
               shareFriend();
           });
           // 分享到朋友圈
           WeixinJSBridge.on('menu:share:timeline', function(argv){
               shareTimeline();
           });
       }, false);
	</script>
</head>

<body>
	<div class="ui-mobile-viewport ui-overlay-a" data-role="content">
		<div class="my-header-bg">
			<img src="upgrade_files/header_bg.gif" class="my-header-img">
			<div class="my-ui-grid">
				<div class="ui-grid-b">
			    	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:150px"></div></div>
			    	<div class="ui-block-b">
			    		<div class="ui-bar ui-bar-a" style="height:150px;">
			    			<div class="my-header-image">
			    				<!-- <a data-ajax="false" href="http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ">
			    					<img src=""/>
			    				</a> -->
			    				<img onclick="nav_jump(this)" jump-url="http://localhost/pz/wx/index.php/consumers/consumers/index/oaQ8auGYY-uQTtIUAFFxqnQJpjWQ" src="">
			    				<br>
			    							    			</div>
			    		</div>
			    	</div>
			   		<div class="ui-block-c">
			   			<div class="ui-bar ui-bar-a" style="height:150px">

			   			</div>
			   		</div>
				</div><!-- /grid-b -->
			</div>
			<div class="my-nav">
				<div class="ui-grid-c">
			    	<div class="ui-block-a" jump-url="http://localhost/pz/wx/index.php/merchant/merchant/local_category" onclick="nav_jump(this)">
			    		<div class="ui-bar ui-bar-a" style="font-weight:400;">
			    			<img src="upgrade_files/add.png" alt="" style="margin-bottom:0.1em;width:24px;margin-top:0.5em;"><br>
			    			添加分类
			    		</div>
			    	</div>
			    	<div class="ui-block-b" jump-url="http://localhost/pz/wx/index.php/merchant/merchant/panic_buy" onclick="nav_jump(this)">
			    		<div class="ui-bar ui-bar-a" style="font-weight:400;">
			    			<img src="upgrade_files/shai.png" alt="" style="margin-bottom:0.1em;width:24px;margin-top:0.5em;"><br>
			    			全民疯抢
			    		</div>
			    	</div>
			   		<div class="ui-block-c" jump-url="http://localhost/pz/wx/index.php/merchant/merchant/collect" onclick="nav_jump(this)">
			   			<div class="ui-bar ui-bar-a" style="font-weight:400;">
			    			<img src="upgrade_files/collect_.png" alt="" style="margin-bottom:0.1em;width:24px;margin-top:0.5em;"><br>
			   				收藏
			   			</div>
			   		</div>
			   		<div class="ui-block-c" jump-url="http://wsq.qq.com/reflow/263536219" onclick="nav_jump(this)">
			   			<div class="ui-bar ui-bar-a" style="font-weight:400;">
			    			<img src="upgrade_files/logo.png" alt="" style="margin-bottom:0.1em;width:24px;margin-top:0.5em;"><br>
			   				晒单区
			   			</div>
			   		</div>
				</div><!-- /grid-b -->
			</div>
		</div>
<script>
function nav_jump(obj){
	window.location.href = $(obj).attr('jump-url');
}
</script>
	<link rel="stylesheet" href="upgrade_files/index.css">
	<link rel="stylesheet" href="upgrade_files/common.css">
<style type="text/css">
.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b{
	width:48%;
	margin-right: 2%;
	border:1px solid #eeeeee;
}
#page1 .theme-list{
	border:1px solid #eee;
}
#page1 .theme-list{
	width:46%;
}
</style>
	<section class="ui-page ui-page-theme-a ui-page-active" tabindex="0" data-url="page1" data-role="page" id="page1" style="background: none repeat scroll 0% 0% rgb(232, 36, 22); min-height: 559px;">
		<img style="width:100%;margin-bottom:3em;" src="upgrade_files/developing.jpg">
<script type="text/javascript">
/*
$(document).ready(function(){
	var obj = $('.my-cloth-des');
	$.each(obj,function(i){
		var font_size = $(obj[i]).css('font-size');
		var width = $(obj[i]).css('width');
		var max_count = (Math.round(parseFloat(width)/parseFloat(font_size)))*2;
		var content = $(obj[i]).attr('value');
		var new_content = '';
		if(content.length<max_count){
			new_content = content;
		}else{
			new_content = content.substring(0,max_count);
			new_content +='...';
		}
		console.log(new_content);
		$(obj[i]).html(new_content);

	});
});
*/
</script></section><div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon-loading"></span><h1>loading</h1></div></div></body></html>