@charset "utf-8";
#page1 a{
	color: #000;
	text-decoration: none;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
#page1 .cl:after{
	content:'\0020';
	display:block;
	height:0;
	clear:both;
}
#page1 .header{
	background: #ffffff;
	border: 0;
}
#page1 .header{
	position: relative;
	line-height: 0;
	background: #ffffff;
	color: #ff5616;
	border-bottom: 1px solid #fef5ee;
	padding-left: 0;
	padding-right: 0;
}
#page1 .white-goto{
	position: absolute;
	left: 3%;
	top: 3%;
	display: block;
}
#page1 .white-control{
	position: absolute;
	right: 3%;
	top: 3%;
	display: block;
}
#page1 .pro-bg{
	width: 100%;
}
#page1 .opacity{
	height: 4em;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	background: #000;
	opacity: 0.5;
	bottom: 0em;
}
#page1 .pro-title{
	position: absolute;
	bottom: -0.3em;
	line-height: 1.4em;
	text-shadow: none;
	color: #fff;
	font-weight: normal;
	font-family: "微软雅黑";
	font-size: 1.1em;
	padding-left: 3%;
	padding-right: 2%;
}
#page1 .content{
	padding-top: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom:0.3em;
	padding-top: 1em;
	min-height: 30em;
}
#page1 .cont{
	padding-left: 0.5em;
	color: #999;
	font-family: "微软雅黑";
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.5em;
}
#page1 .black{
	color: #000;
}
#page1 .gray{
	color: #b0b0b0;
}
#page1 .red{
	color: #fc4300;
}
#page1 .font{
	font-family: "微软雅黑";
	font-weight: normal;
	font-size: 1.1em;
}
#page1 .indigo{
	padding-left: 1em;
	font-size: 0.8em;
	line-height: 1.1em;
	color: #30b3e3;
	text-shadow: none;
}
#page1 .amount{
	line-height: 2.6em;
	width: 40%;
	display: inline-block;
	padding-left: 3%;
}
#page1 .sendby{
	color: #666;
	padding-left: 3%;
	font-size: 1.2em;
	width: 75%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 0;
	border-right: 1px solid #ccc;
	float: left;
}
#page1 .letter{
	text-align: center;
	float: left;
	width: 21.5%;
	color: #ffbb33;
	font-size: 0.8em;
	margin-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	padding-bottom: 1.12em;
	margin-bottom: 0;
}
#page1 .letter img{
	display: block;	
	margin: 0.8em auto 0.3em;
}
#page1 .gray-bg{
	background: #e6e6e6;
	padding-top: 1.5em;
	width: 100%;
	padding-bottom: 0.5em;
	padding-left: 3%;
	color: #000;
}
#page1 .mymenu{
	background: #fff;
	color: #000;
	padding-top: 1.2em;
	text-indent: 2.4em;
	display: block;
	margin-top: 0;
	padding-bottom: 1em;
}
#page1 .myorder{
	background: url("images/common/pop.png") no-repeat 0.5em 1.3em #fff;
}
#page1 .mycollect{
	border-top: 1px solid #e6e6e6;
	margin-top: 0;
	background: url("images/common/contact.png") no-repeat 0.5em 1.3em #fff;
}
#page1 .mymessage{
	border-top: 1px solid #e6e6e6;
	background: url("images/common/article.png") no-repeat 0.5em 1.3em #fff;
}
#page1 .addressmanage{
	border-top: 1px solid #e6e6e6;
	background: url("images/common/dsicuz.png") no-repeat 0.5em 1.4em #fff;
}
#page1 .fright{
	color: #000;
	position: absolute;
	margin-top: 0;
	right: 4%;
	font-size: 1.1em;
	padding-left: 0;
	text-align: right;
}
#page1 .mtop{
	margin-top: 1em;
}
#page1 .recommend{
	width: 96%;
	margin: 0 auto 3em;
	border-bottom: 1px solid #ccc;
}
#page1 .product-list{
	width: 46%;
	margin: 0 2% 0.5em;
	float: left;
}
#page1 .ptitle{
	margin-top: 0;
	color: #808080;
	font-size: 1em;
	line-height: 2em;
}
#page1 .recommend img{
	width: 100%;
}
#page1 .comfirm{
	display:block;
	background: #fb4200;
	font-size: 1.2em;
	font-family: "微软雅黑";
	font-weight: normal;
	width: 100%;
	cursor: pointer;
	padding-top: 1em;
	border: none;
	color: #ffffff;
	padding-bottom: 1em;
	outline: none;
	width: 96%;
	margin:2% auto;
	text-align: center;
	letter-spacing: 0.1em;
}